body{
    margin: 0;
    padding: 0;
}

.us{
    color:white;
    height: 90vh;
    background-image:url("../imgs/lib.jpeg");
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(rgba(13, 13, 14, 0.694), rgba(19, 19, 19, 0.539)), url("images/book.jpeg"); 
  
}

.us::before{
    color: black;
    opacity: 0.4;
}

